!!! 5
html(lang="en")
      head
        meta(name="viewport",content="initial-scale=1.0, user-scalable=no")
        script(src="jquery.tools.min.js")
        script(src="jquery-ui-1.8.18.min.js")
        script(src="jquery.blockUI.js")
        link(rel="stylesheet", type="text/css", href="css/skin1.css")
        link(rel="stylesheet", href="css/style.css", type="text/css")
        script(type="text/javascript", src="http://80.78.216.153:3000/socket.io/socket.io.js")
        script(type="text/javascript", src="sliding.form.js")

      body
         != body


