!!! 5
html(lang="en")
      head
        meta(name="description",content="Author: C. Giardino N. Paternoster, Category: Software Startups tradeoffs")
        title="Software Startup tradeoffs"
        head(profile="http://www.w3.org/2005/10/profile")
        link(rel="icon", type="image/png", href="images/favicon.png")
        meta(name="viewport",content="initial-scale=1.0, user-scalable=no")
        link(rel="stylesheet", type="text/css", href="css/skin1.css")
        link(rel="stylesheet", href="css/style.css", type="text/css")
        script(src="jquery.tools.min.js")
        script(src="jquery-ui-1.8.18.min.js")
        script(src="jquery.blockUI.js")
        script(type="text/javascript", src="/socket.io/socket.io.js")
        script(type="text/javascript", src="sliding.form.js")
        script(type="text/javascript", src="popup.js")
      body
         != body


